/* src/components/productList/productList.css */

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Создает 4 колонки одинаковой ширины */
  gap: 20px; /* Отступ между карточками */
  padding: 20px; /* Внутренний отступ для списка */
}

.product-list > div {
  display: flex; /* Flex для выравнивания контента */
  justify-content: center; /* Центровка контента */
}