.resizable-box {
  position: relative;
  border: 2px solid #ccc;
  padding: 10px;
  resize: both; /* Возможность изменения размера */
  overflow: auto; /* Отключение переполнения */
  min-width: 100px;
  min-height: 100px;
  display: flex; /* Flex для центровки контента */
  align-items: center; /* Центровка по вертикали */
  justify-content: center; /* Центровка по горизонтали */
}

.resizable-box-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  cursor: se-resize; /* Курсор изменения размера */
}