.collapse-content {
  overflow: hidden;
  transition: height 3s ease;
  height: 0;
}

.collapse-content.open {
  height: auto;
  transition: height 3s ease;
}

.collapse-content.closed {
  height: 0;
}

.collapse-text {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 3s ease, transform 3s ease;
}

.collapse-text.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.collapse-text.fade-out {
  opacity: 0;
  transform: translateY(-10px);
}